@tailwind base;
@layer base {
  .prize-card {
    @apply w-[270px] md:w-[340px] xl:w-[400px] h-[350px] md:h-[480px] xl:h-[500px] relative overflow-hidden rounded-2xl bg-gradient-to-b  p-px from-zinc-700 via-zinc-800  m-4;
  }
}

.prizeContainer {
  position: relative;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .prizeContainer .median .card {
    width: 300px;
    height: 400px;
  }
}

.prizeContainer .median .card {
  position: relative;
  /* width: 300px; */
  /* height: 420px; */
  background: transparent;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background: rgba(35, 35, 37, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(39, 39, 42, 0.5);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  transition: 0.5s;
}

.prizeContainer .median .card .circle {
  position: relative;
  width: 100%;
  height: 50%;
  background: rgb(35, 35, 35);
  clip-path: circle(200px at center 0);
  text-align: center;
}

.circle-order-1 {
  box-shadow: 2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34) !important;
  background: -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  ) !important;
  background: -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  ) !important;
  background: -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  ) !important;
  background: linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  ) !important;
}
.circle-order-2 {
  box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34) !important;
  background: -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  ) !important;
  background: -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  ) !important;
  background: -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  ) !important;
  background: linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  ) !important;
}
.circle-order-3{
  box-shadow:
    2px 2px 0.5em rgba(122, 55, 34, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5) !important
  ;
  background:
  -moz-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  ) !important;
  background:
  -webkit-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  ) !important;
  background:
  -o-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  ) !important;
  background:
  linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  ) !important;
}

@media screen and (max-width: 1024px) {
  .prizeContainer .median .card .circle {
    clip-path: circle(140px at center 10px);
  }
}

.prizeContainer .median .card .circle img {
  /* color: #fff; */
  /* font-size: 4.5em; */
  /* padding: 30px 0; */
  /* width: 10rem; */
  margin: 0 auto;
}

.prizeContainer .median .card .content,
.card .content-back {
  position: absolute;
  bottom: 10px;
  /* left: 20px; */
  left: 0px;
  padding: 19px;
  page-break-after: 20px;
  text-align: center;
  width: 100%;
  height: 50%;
  /* border: 2px solid #fff; */
}

.card .content-back {
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prizeContainer .median .card .content p {
  color: #fff;
}

.prizeContainer .median .card .content button {
  /* position: absolute; */

  /* bottom: 10px; */
  /* left: 105px; */
  position: relative;
  display: inline-block;
  /* padding: 8px 10px; */
  background: #000;
  color: #fff;
  font-size: small;
  border-radius: 20px;
  text-decoration: none;
  /* margin-top: 10px; */
}

.content-back-btn button {
  /* padding: 8px 10px; */
  background: #000;
  color: #fff;
  font-size: small;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .prizeContainer .median .card .circle {
    clip-path: circle(180px at center -50px);
  }

  .prizeContainer .median .card .content {
    padding: 10px;
  }
}

/* Card.css */
.card {
  transition: transform 1s ease;
}

.card-front {
  /* Front of the card styles */
  transform: rotateY(-180deg);
}

.card-back {
  /* Back of the card styles */
  transform: rotateY(180deg);
}
