@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Poiret+One&display=swap');

.font-Newsreader {
    font-family: 'Newsreader', serif;
}

.font-PoiretOne {
    font-family: 'Poiret One', sans-serif;
}

.team-image {
    background-image: url("../public/assets/images/team.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    position: relative;
}

.navigation .animation {
    position: absolute;
    height: 100%;
    width: 70px; /* Default width */
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.35s ease-in-out;
    border-radius: 10px;
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(168, 85, 247, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #ec4899 var(--tw-gradient-to-position);
    background-color: var(--tw-gradient-from);}

.navigation button {
    position: relative;
    z-index: 1;
}

.navigation .student {
    left: 0;
    width: 185px;
}

.navigation .organizer {
    left: 190px;
    width: 185px;
}

.navigation .web {
    left: 142px;
    width: 55px;
}

.navigation .sponsorship {
    left: 200px;
    width: 130px;
}

.navigation .promotion {
    left: 330px;
    width: 110px;
}

.navigation .design {
    left: 440px;
    width: 90px;
}

.navigation .technical {
    left: 530px;
    width: 100px;
}

.navigation .drafting {
    left: 630px;
    width: 100px;
}
.navigation .Facuty_Coordinator {
    left: 730px;
    width: 180px;
}
.navigation .Faculty {
    left: 925px;
    width: 80px;
}

@media (max-width: 768px) {
    .navigation .animation {
        display: none;
    }

    .navigation .active {
        background-image: linear-gradient(to left, var(--tw-gradient-stops));
        --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
        --tw-gradient-to: rgba(168, 85, 247, 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: #ec4899 var(--tw-gradient-to-position);
        background-color: var(--tw-gradient-from);
        border-radius: 0.25rem;
    }
}
